.item{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border : 1px solid #ccc;
    border-radius: 5px;
    width : 100%;
    padding : 15px 10px;
    margin : 10px 0;
}

.itemName {
    flex : 1;
    margin-left : 10px;
    color : rgb(133, 4, 219);
    font-weight : 600;
}

.itemPrice {
    flex : 1;
    color : rgb(235, 52, 52);
    font-weight : 600;
}

.itemButton{
    padding : 10px 10px;
    border : none;
    border-radius: 5px;
    background : rgb(40, 155, 212)  ;
    color : white;
    font-weight: bold;
    cursor: pointer;
}